--
-- PostgreSQL database dump
--

\restrict aS5zsMarr7Brejt3GJoQ5C3oBZL8TDQSoxfAdI5o2zqojIy28ojoxwHomZD0BnF

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Budgets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Budgets" (
    "Id" integer NOT NULL,
    "CategoryId" integer NOT NULL,
    "AmountLimit" numeric NOT NULL,
    "Month" integer NOT NULL,
    "Year" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "CurrentAmount" numeric DEFAULT 0.0 NOT NULL
);


ALTER TABLE public."Budgets" OWNER TO postgres;

--
-- Name: Budgets_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Budgets" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Budgets_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Categories" (
    "Id" integer NOT NULL,
    "Name" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "AllTimeAmountSpent" numeric DEFAULT 0.0 CONSTRAINT "Categories_AllTimeAmount_not_null" NOT NULL,
    "UserId" integer DEFAULT 0 NOT NULL,
    "AllTimeAmountEarned" numeric DEFAULT 0.0 NOT NULL
);


ALTER TABLE public."Categories" OWNER TO postgres;

--
-- Name: Categories_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Categories" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Categories_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Currencies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Currencies" (
    "Id" integer NOT NULL,
    "Code" text NOT NULL,
    "Name" text NOT NULL,
    "Symbol" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "ExchangeRate" numeric DEFAULT 0.0 NOT NULL
);


ALTER TABLE public."Currencies" OWNER TO postgres;

--
-- Name: Currencies_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Currencies" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Currencies_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: PaymentMethods; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PaymentMethods" (
    "Id" integer NOT NULL,
    "Name" text NOT NULL,
    "Description" text,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."PaymentMethods" OWNER TO postgres;

--
-- Name: PaymentMethods_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."PaymentMethods" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."PaymentMethods_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Savings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Savings" (
    "Id" integer CONSTRAINT "Saving_Id_not_null" NOT NULL,
    "Name" text CONSTRAINT "Saving_Name_not_null" NOT NULL,
    "Description" text,
    "TargetAmount" numeric CONSTRAINT "Saving_TargetAmount_not_null" NOT NULL,
    "CurrentAmount" numeric CONSTRAINT "Saving_CurrentAmount_not_null" NOT NULL,
    "CreatedAt" timestamp with time zone CONSTRAINT "Saving_CreatedAt_not_null" NOT NULL,
    "TargetDate" timestamp with time zone,
    "Status" integer CONSTRAINT "Saving_Status_not_null" NOT NULL,
    "Code" text DEFAULT 0 CONSTRAINT "Saving_Code_not_null" NOT NULL
);


ALTER TABLE public."Savings" OWNER TO postgres;

--
-- Name: Saving_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Savings" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Saving_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Transactions" (
    "Id" integer NOT NULL,
    "UserId" integer NOT NULL,
    "CategoryId" integer,
    "SavingId" integer,
    "PaymentMethodId" integer NOT NULL,
    "Amount" numeric NOT NULL,
    "Type" text NOT NULL,
    "Description" text,
    "Date" timestamp with time zone NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Transactions" OWNER TO postgres;

--
-- Name: Transactions_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Transactions" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Transactions_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: UserSavings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserSavings" (
    "UserId" integer NOT NULL,
    "SavingId" integer NOT NULL,
    "ContributedAmount" numeric NOT NULL,
    "JoinedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."UserSavings" OWNER TO postgres;

--
-- Name: Users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Users" (
    "Id" integer NOT NULL,
    "Username" text CONSTRAINT "Users_Name_not_null" NOT NULL,
    "Email" text NOT NULL,
    "PasswordHash" text NOT NULL,
    "Role" integer CONSTRAINT "Users_role_not_null" NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "CurrencyId" integer NOT NULL
);


ALTER TABLE public."Users" OWNER TO postgres;

--
-- Name: Users_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Users" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Users_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Data for Name: Budgets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Budgets" ("Id", "CategoryId", "AmountLimit", "Month", "Year", "CreatedAt", "CurrentAmount") FROM stdin;
13	23	500	3	2026	2026-03-11 14:29:07.135513+00	0
14	24	700.1	3	2026	2026-03-17 14:27:52.112961+00	550.5266272189349112426035503
17	29	200	4	2026	2026-04-07 14:22:51.193972+00	100
18	30	500	4	2026	2026-04-23 09:39:36.485709+00	100
\.


--
-- Data for Name: Categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Categories" ("Id", "Name", "CreatedAt", "AllTimeAmountSpent", "UserId", "AllTimeAmountEarned") FROM stdin;
21	Groceries	2026-03-07 22:44:34.827035+00	0	5	0
20	groceries	2026-03-07 22:44:17.182512+00	510	5	0
19	groceries	2026-03-07 22:44:07.989058+00	2060	5	0
23	gorivo	2026-03-11 14:28:35.486488+00	0	5	0
18	salary	2026-03-07 22:43:25.538755+00	0	5	600
24	Groceries	2026-03-17 14:27:23.109124+00	550.5266272189349112426035503	4	500.5266272189349112426035503
29	abc	2026-04-07 14:22:38.675455+00	100	4	0
30	kategorija	2026-04-23 09:39:12.763368+00	100	4	0
\.


--
-- Data for Name: Currencies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Currencies" ("Id", "Code", "Name", "Symbol", "CreatedAt", "ExchangeRate") FROM stdin;
4	USD	Dollar	$	2026-01-20 19:05:18.920271+00	1
1	BAM	Marka	KM	2026-01-20 18:29:00.851485+00	1.69
2	EUR	Euro	Γé¼	2026-01-20 18:57:32.795902+00	0.86
\.


--
-- Data for Name: PaymentMethods; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PaymentMethods" ("Id", "Name", "Description", "CreatedAt") FROM stdin;
1	Mastercard	card	2026-02-02 17:36:50.694102+00
\.


--
-- Data for Name: Savings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: UserSavings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."UserSavings" ("UserId", "SavingId", "ContributedAmount", "JoinedAt") FROM stdin;
5	6	4999.91	2026-03-07 22:46:05.176528+00
5	11	1000	2026-04-06 13:08:45.506191+00
5	8	0	2026-04-07 12:35:14.766604+00
4	12	591.71597633136094674556213018	2026-04-07 14:26:18.953405+00
5	12	1000	2026-04-07 14:27:34.693101+00
4	13	1000	2026-04-23 09:41:08.587677+00
5	13	0	2026-04-23 09:42:08.808792+00
4	8	143	2026-03-30 09:23:52.180817+00
\.


--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20260120103553_AddRoleToUser	9.0.0
20260120185256_RoleRenamed	9.0.0
20260202163656_RenameNameToUsername	9.0.0
20260205131055_AddAllTimeAmountToCategory	9.0.0
20260205141347_ChangeAllTimeAmountToNotBeNull	9.0.0
20260224131557_ConnectCategoryToUser	9.0.0
20260225172716_SeperateIncomeExpenses2	9.0.0
20260228124957_AddCodeToSaving	9.0.0
20260228125342_AddCodeToSavingString	9.0.0
20260311145222_AddTestTransactions	9.0.0
20260322013953_AddExchRateColumn	9.0.0
20260330094052_FixCascadeDelete	9.0.0
\.


--
-- Name: Budgets_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Budgets_Id_seq"', 18, true);


--
-- Name: Categories_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Categories_Id_seq"', 30, true);


--
-- Name: Currencies_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Currencies_Id_seq"', 4, true);


--
-- Name: PaymentMethods_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."PaymentMethods_Id_seq"', 1, true);


--
-- Name: Saving_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Saving_Id_seq"', 13, true);


--
-- Name: Transactions_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Transactions_Id_seq"', 10081, true);


--
-- Name: Users_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Users_Id_seq"', 5, true);


--
-- Name: Budgets PK_Budgets; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Budgets"
    ADD CONSTRAINT "PK_Budgets" PRIMARY KEY ("Id");


--
-- Name: Categories PK_Categories; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Categories"
    ADD CONSTRAINT "PK_Categories" PRIMARY KEY ("Id");


--
-- Name: Currencies PK_Currencies; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Currencies"
    ADD CONSTRAINT "PK_Currencies" PRIMARY KEY ("Id");


--
-- Name: PaymentMethods PK_PaymentMethods; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentMethods"
    ADD CONSTRAINT "PK_PaymentMethods" PRIMARY KEY ("Id");


--
-- Name: Savings PK_Savings; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Savings"
    ADD CONSTRAINT "PK_Savings" PRIMARY KEY ("Id");


--
-- Name: Transactions PK_Transactions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Transactions"
    ADD CONSTRAINT "PK_Transactions" PRIMARY KEY ("Id");


--
-- Name: UserSavings PK_UserSavings; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserSavings"
    ADD CONSTRAINT "PK_UserSavings" PRIMARY KEY ("UserId", "SavingId");


--
-- Name: Users PK_Users; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "PK_Users" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_Budgets_CategoryId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Budgets_CategoryId" ON public."Budgets" USING btree ("CategoryId");


--
-- Name: IX_Categories_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Categories_UserId" ON public."Categories" USING btree ("UserId");


--
-- Name: IX_Transactions_CategoryId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Transactions_CategoryId" ON public."Transactions" USING btree ("CategoryId");


--
-- Name: IX_Transactions_PaymentMethodId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Transactions_PaymentMethodId" ON public."Transactions" USING btree ("PaymentMethodId");


--
-- Name: IX_Transactions_SavingId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Transactions_SavingId" ON public."Transactions" USING btree ("SavingId");


--
-- Name: IX_Transactions_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Transactions_UserId" ON public."Transactions" USING btree ("UserId");


--
-- Name: IX_UserSavings_SavingId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_UserSavings_SavingId" ON public."UserSavings" USING btree ("SavingId");


--
-- Name: IX_Users_CurrencyId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Users_CurrencyId" ON public."Users" USING btree ("CurrencyId");


--
-- Name: Budgets FK_Budgets_Categories_CategoryId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Budgets"
    ADD CONSTRAINT "FK_Budgets_Categories_CategoryId" FOREIGN KEY ("CategoryId") REFERENCES public."Categories"("Id") ON DELETE CASCADE;


--
-- Name: Categories FK_Categories_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Categories"
    ADD CONSTRAINT "FK_Categories_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: Transactions FK_Transactions_Categories_CategoryId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Transactions"
    ADD CONSTRAINT "FK_Transactions_Categories_CategoryId" FOREIGN KEY ("CategoryId") REFERENCES public."Categories"("Id");


--
-- Name: Transactions FK_Transactions_PaymentMethods_PaymentMethodId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Transactions"
    ADD CONSTRAINT "FK_Transactions_PaymentMethods_PaymentMethodId" FOREIGN KEY ("PaymentMethodId") REFERENCES public."PaymentMethods"("Id") ON DELETE CASCADE;


--
-- Name: Transactions FK_Transactions_Savings_SavingId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Transactions"
    ADD CONSTRAINT "FK_Transactions_Savings_SavingId" FOREIGN KEY ("SavingId") REFERENCES public."Savings"("Id") ON DELETE CASCADE;


--
-- Name: Transactions FK_Transactions_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Transactions"
    ADD CONSTRAINT "FK_Transactions_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: UserSavings FK_UserSavings_Savings_SavingId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserSavings"
    ADD CONSTRAINT "FK_UserSavings_Savings_SavingId" FOREIGN KEY ("SavingId") REFERENCES public."Savings"("Id") ON DELETE CASCADE;


--
-- Name: UserSavings FK_UserSavings_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserSavings"
    ADD CONSTRAINT "FK_UserSavings_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: Users FK_Users_Currencies_CurrencyId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "FK_Users_Currencies_CurrencyId" FOREIGN KEY ("CurrencyId") REFERENCES public."Currencies"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict aS5zsMarr7Brejt3GJoQ5C3oBZL8TDQSoxfAdI5o2zqojIy28ojoxwHomZD0BnF

